@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Serif|Roboto+Slab&subset=latin-ext");
p, a, i, li, ul, ol, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font: "Montserrat", sans-serif;
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font: 16px "Montserrat", sans-serif;
  color: #777777;
  font-style: italic;
}

a, a:hover {
  text-decoration: none;
  color: #FFF;
}

p {
  font: 14px "Roboto Slab", serif;
  color: #777777;
}

.container {
  padding: 120px;
}

.yellowbtn {
  width: 240px;
  height: 66px;
  border: none;
  border-radius: 2%;
  font: 18px "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #fed136;
  text-transform: uppercase;
}

.lightbg {
  background-color: #f7f7f7;
  width: 100%;
}

.jumbotron {
  background-image: url("../images/bgimg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.jumbotron .navi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 230px 180px 230px;
}

.jumbotron .navi .navi__image {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.jumbotron .navi .navi__menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  flex: 1;
}

.jumbotron .navi .navi__menu li a {
  font: 14px "Montserrat", sans-serif;
  padding: 0 0 0 40px;
  font-size: 16px;
}

.jumbotron .header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #FFF;
}

.jumbotron .header p {
  font: 40px "Noto Serif", serif;
  font-style: italic;
  padding: 25px;
  color: #FFF;
}

.jumbotron .header h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 75px;
  padding: 0 0 70px 0;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services .services__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .services__header h1 {
  text-transform: uppercase;
  font: 40px "Montserrat", sans-serif;
  font-weight: bold;
}

.services .services__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 80px;
}

.services .services__items .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 33px;
}

.services .services__items .item .item__image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px #fed136 solid;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
}

.services .services__items .item h1 {
  font-size: 18px;
  font-weight: bold;
}

.services .services__items .item p {
  text-align: center;
}

.portfolio {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio .portfolio__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio__header h1 {
  text-transform: uppercase;
  font: 18px;
  font-weight: bold;
}

.portfolio .portfolio__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  flex-wrap: wrap;
}

.portfolio .portfolio__box .box {
  background-color: #FFF;
  margin: 25px 8px 25px 8px;
  text-align: center;
}

.portfolio .portfolio__box .box h1 {
  font-size: 18px;
  font-weight: bold;
}

.portfolio .portfolio__box .box p {
  font-style: italic;
  padding-bottom: 20px;
}

.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutus .aboutus__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutus .aboutus__header h1 {
  text-transform: uppercase;
  font: 18px;
  font-weight: bold;
}

.aboutus .aboutus__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus .aboutus__circle .circle {
  display: flex;
  justify-content: center;
}

.aboutus .aboutus__circle .circle:nth-child(even) .circle__text {
  padding-left: 600px;
}

.aboutus .aboutus__circle .circle:nth-child(odd) .circle__text {
  text-align: right;
  padding-right: 600px;
}

.aboutus .aboutus__circle .circle:last-child .circle__text {
  position: absolute;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 130px 300px 0 300px;
}

.aboutus .aboutus__circle .circle:last-child .circle__text h1 {
  color: #FFF;
  word-spacing: 100vw;
}

.aboutus .aboutus__circle .circle:last-child .circle__image:after {
  visibility: hidden;
}

.aboutus .aboutus__circle .circle .circle__image {
  position: absolute;
  justify-content: center;
  display: flex;
  margin: 80px 0 80px 0;
}

.aboutus .aboutus__circle .circle .circle__image:after {
  content: '';
  height: 100%;
  position: absolute;
  border: 2px solid #f7f7f7;
  margin: 180px 0 0 0;
  z-index: -1;
}

.aboutus .aboutus__circle .circle .circle__text {
  margin: 80px 0 80px 0;
  display: flex;
  flex-direction: column;
}

.aboutus .aboutus__circle .circle .circle__text h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.aboutus .aboutus__circle .circle .circle__text h1:first-child {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */